body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  
  
}
.nav {
  justify-content: center;  
}

.content {
  margin-left: 50px;
  
}

