html {
  display: flex;
}


body {
  
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  
  
}
.nav {
  justify-content: center;  
}

.container {

 

  
}
.cardImg {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75px;
  width: 50px;
  border-radius: 10%;
}
